<div id="graficas">
	<div class="Graficas">
		<h2>Gráficas</h2>
		<div class="Graficas-box" data-name="Diaria">
			<h3>Diaria</h3>
			<div class="Graficas-temperatura" data-type="temperatura" id="chart_div" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Semanal">
			<h3>Semanal</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Mensual">
			<h3>Mensual</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
		<div class="Graficas-box" data-name="Anual">
			<h3>Anual</h3>
			<div class="Graficas-temperatura" data-type="temperatura" style="width: 100%;"></div>
		</div>
	</div>
</div>